.about {
  padding: 50px 0;

  &__title {
    margin-bottom: 40px;

    @include desktopMin {
      text-align: center;
    }

    @include mobile {
      font-size: 45px;
      line-height: 55px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @include desktopMin {
      padding-left: 70px;
    }

    @include mobileMed {
      padding-left: 0;
    }
  }

  &__item {
    position: relative;
    padding-left: 100px;
    width: 100%;
    max-width: 540px;

    @include desktopMin {
      max-width: 100%;
    }

    @include mobile {
      padding-left: 80px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 70px;
      height: 70px;
      background-image: url('../img/about1.svg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &--satisfying::before {
      content: '';
      background-image: url('../img/about2.svg');
    }

    &--world::before {
      content: '';
      background-image: url('../img/about3.svg');
    }

    &--secure::before {
      content: '';
      background-image: url('../img/about4.svg');
    }
  }

  &__caption {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
  }

  &__descr {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
  }
}