.project {
  margin-bottom: 50px;
  padding: 50px 0;
  
  @include mobile {
    margin-bottom: 0;
  }

  &__inner {
    position: relative;
  }

  &__title {
    margin-bottom: 50px;
    width: 100%;
    max-width: 430px;

    @include mobile {
      max-width: 350px;
      font-size: 40px;
      line-height: 50px;
    }
  }

  &__link {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 40px;
    font-weight: 400;
    color: #a1c5e9;

    @include mobile {
      top: 5px;
    }

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 5px;
      width: 20px;
      height: 20px;
      background-image: url('../img/arrow.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);

    @include mobileMed {
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
    }
  }

  &__item {
    width: 100%;
    max-width: 540px;

    @include mobileMed {
      margin: 0 auto;
    }
  }

  &__img {
    border-radius: 10px;
  }
}