<footer class="footer">
  <div class="container">

    <div class="footer__wrapper">

      <div class="footer__box">

        <img class="footer__logo" src="img/logo.svg" alt="logo" style="width: 160px; height: 36px;">
  
        <copy class="footer__copy">
          Copyright © 2021 SakaAgency
          All Right Reserver
        </copy>
  
        <ul class="footer__socials">

          <li class="footer__social footer__social--instagram">
            <a href="#">instagram</a>
          </li>

          <li class="footer__social footer__social--dribblr">
            <a href="#">dribblr</a>
          </li>

          <li class="footer__social footer__social--youtube">
            <a href="#">youtube</a>
          </li>

        </ul>
  
      </div>
  
      <ul class="footer__list">
  
        <li class="footer__item">
          <a href="#">Company</a>
        </li>
  
        <li class="footer__item">
          <a href="#">About Us</a>
        </li>
  
        <li class="footer__item">
          <a href="#">Project</a>
        </li>
  
        <li class="footer__item">
          <a href="#">Pricing</a>
        </li>
  
        <li class="footer__item">
          <a href="#">Career</a>
        </li>
  
        <li class="footer__item">
          <a href="#">Testimonial</a>
        </li>
  
      </ul>
  
      <ul class="footer__list">
  
        <li class="footer__item">
          <a href="#">Support</a>
        </li>
  
        <li class="footer__item">
          <a href="#">FAQ</a>
        </li>
  
        <li class="footer__item">
          <a href="#">Privacy Policy</a>
        </li>
  
        <li class="footer__item">
          <a href="#">Term and Conditions</a>
        </li>
  
        <li class="footer__item">
         <a href="mailto:halo@sakaagency.studio">
          halo@sakaagency.studio
         </a>
        </li>
  
        <li class="footer__item">
          <a href="tel:0221234567">
            022-123-4567
          </a>
        </li>
  
      </ul>
  
      <form class="footer__form" action="#" method="get">
        <label class="footer__label" for="email">
          Get In Touch
        </label>
        <input class="footer__input" type="email" name="email" id="email" placeholder="Your email address">
        <img class="footer__icon" src="img/mail.svg" alt="" style="width: 18px; height: 18px;">
      </form>

    </div>

  </div>
</footer>