<section class="about">
  <div class="container">

    <h2 class="about__title">
      About <br>
      SakaAgency
    </h2>

    <ul class="about__list">

      <li class="about__item">
        <h3 class="about__caption">
          Since 2010
        </h3>

        <p class="about__descr">
          have a long road journey about digital agency, we have the best experience to help grow your business
        </p>
      </li>

      <li class="about__item about__item--satisfying">
        <h3 class="about__caption">
          satisfying guaranteed
        </h3>

        <p class="about__descr">
          money-back guaranteed if you are not like our work, you can complaint
        </p>
      </li>

      <li class="about__item about__item--world">
        <h3 class="about__caption">
          Around The World
        </h3>

        <p class="about__descr">
          We have the best team from around the world, so our customer is around the world
        </p>
      </li>

      <li class="about__item about__item--secure">
        <h3 class="about__caption">
          Secure Payment
        </h3>

        <p class="about__descr">
          Don’t worry about payment, our payment is 100% secure
        </p>
      </li>

    </ul>

  </div>
</section>
