<section class="help">
  <div class="container">

    <h2 class="help__title">
      Our Specialization can
      help your problem
    </h2>

    <ul class="help__list">

      <li class="help__item">
        <article class="help__article">

          <h3 class="help__heading">
            Branding
          </h3>

          <p class="help__text">
            Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
          </p>

          <a class="help__link" href="#">
            Read More
          </a>

        </article>
      </li>

      <li class="help__item help__item--mobile">
        <article class="help__article">

          <h3 class="help__heading">
            Mobile Apps
          </h3>

          <p class="help__text">
            Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
          </p>

          <a class="help__link" href="#">
            Read More
          </a>

        </article>
      </li>

      <li class="help__item help__item--commerce">
        <article class="help__article">

          <h3 class="help__heading">
            E-commerce
          </h3>

          <p class="help__text">
            Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
          </p>

          <a class="help__link" href="#">
            Read More
          </a>

        </article>
      </li>

      <li class="help__item help__item--human">
        <article class="help__article">

          <h3 class="help__heading">
            Human Resources
          </h3>

          <p class="help__text">
            Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
          </p>

          <a class="help__link" href="#">
            Read More
          </a>

        </article>
      </li>

      <li class="help__item help__item--management">
        <article class="help__article">

          <h3 class="help__heading">
            Learning Management
          </h3>

          <p class="help__text">
            Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
          </p>

          <a class="help__link" href="#">
            Read More
          </a>

        </article>
      </li>

      <li class="help__item help__item--design">
        <article class="help__article">

          <h3 class="help__heading">
            UI/UX Design
          </h3>

          <p class="help__text">
            Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat.
          </p>

          <a class="help__link" href="#">
            Read More
          </a>

        </article>
      </li>

    </ul>

  </div>
</section>
