<section class="hero">
  <div class="container">
    <div class="hero__wrapper" style="background-image: url('img/hero-bg.jpg');">

      <div class="hero__content">

        <h1 class="hero__title">
          Digital Agency, <br>
          We Create Experiences.
        </h1>

        <p class="hero__text">
          Let’s Create an Amazing Website To Help Your Showcase And Make Up Your Business!
        </p>

        <button class="btn">
          Contact Us
        </button>

      </div>

    </div>
  </div>
</section>
