<section class="info">
  <div class="container">

    <h2 class="info__title">
      Grow Your Business With
      SakaAgency
    </h2>

    <button class="btn">
      Contact Us
    </button>

    <ul class="info__list">

      <li class="info__item">
        <span class="info__num">
          100+
        </span>

        <span class="info__descr">
          Happy Customer
        </span>
      </li>

      <li class="info__item">
        <span class="info__num">
          100+
        </span>

        <span class="info__descr">
          Project Completed
        </span>
      </li>

      <li class="info__item">
        <span class="info__num">
          40+
        </span>

        <span class="info__descr">
          Awards Won
        </span>
      </li>

    </ul>

  </div>
</section>
