<section class="our">
  <div class="container">

    <div class="our__wrapper">

      <div class="our__content">
        <h2 class="our__title">
          Our Customer
          Say
        </h2>

        <p class="our__descr">
          Feedback from our happy customers helps us in reaching the top
        </p>
      </div>

      <ul class="our__slider">

            <div class="swiper">

              <div class="swiper-pagination"></div>

              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <li class="our__item">

                    <div class="our__box">
      
                      <img class="our__photo" src="img/our-photo.jpg" alt="photo" style="width: 55px; height: 55px;">
      
                      <div class="our__author">
                        <h3 class="our__name">
                          Mr. Jackson
                        </h3>
      
                        <span class="our__position">
                          CEO of ABD Group
                        </span>
                      </div>
      
                    </div>
      
                    <p class="our__text">
                      Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat. Lorem ipsum
                      dolor
                      amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat. Lorem ipsum dolor amet,
                      consectetur
                      adipiscing elit. Mattis et sed nam sem tellus erat. Lorem ipsum dolor amet, consectetur adipiscing elit.
                      Mattis et sed nam sem tellus erat.
                    </p>
      
                  </li>
                </div>
    
                <div class="swiper-slide">
                  <li class="our__item">
    
                    <div class="our__box">
      
                      <img class="our__photo" src="img/our-photo.jpg" alt="photo" style="width: 55px; height: 55px;">
      
                      <div class="our__author">
                        <h3 class="our__name">
                          Mr. Jackson
                        </h3>
      
                        <span class="our__position">
                          CEO of ABD Group
                        </span>
                      </div>
      
                    </div>
      
                    <p class="our__text">
                      Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat. Lorem ipsum
                      dolor
                      amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat. Lorem ipsum dolor amet,
                      consectetur
                      adipiscing elit. Mattis et sed nam sem tellus erat. Lorem ipsum dolor amet, consectetur adipiscing elit.
                      Mattis et sed nam sem tellus erat.
                    </p>
      
                  </li>
                </div>

                <div class="swiper-slide">
                  <li class="our__item">
    
                    <div class="our__box">
      
                      <img class="our__photo" src="img/our-photo.jpg" alt="photo" style="width: 55px; height: 55px;">
      
                      <div class="our__author">
                        <h3 class="our__name">
                          Mr. Jackson
                        </h3>
      
                        <span class="our__position">
                          CEO of ABD Group
                        </span>
                      </div>
      
                    </div>
      
                    <p class="our__text">
                      Lorem ipsum dolor amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat. Lorem ipsum
                      dolor
                      amet, consectetur adipiscing elit. Mattis et sed nam sem tellus erat. Lorem ipsum dolor amet,
                      consectetur
                      adipiscing elit. Mattis et sed nam sem tellus erat. Lorem ipsum dolor amet, consectetur adipiscing elit.
                      Mattis et sed nam sem tellus erat.
                    </p>
      
                  </li>
                </div>

              </div>

            </div>

      </ul>

    </div>

  </div>
</section>
