<section class="project">
  <div class="container">

    <div class="project__inner">
      <h2 class="project__title">
        The Best
        Amazing Project
      </h2>
  
      <a class="project__link" href="#">
        View All
      </a>
    </div>

    <ul class="project__list">

      <li class="project__item">
        <img class="project__img" src="img/project1.jpg" alt="stay healthy" style="width: 540px; height: 307px;">
      </li>

      <li class="project__item">
        <img class="project__img" src="img/project2.jpg" alt="go space" style="width: 540px; height: 307px;">
      </li>

      <li class="project__item">
        <img class="project__img" src="img/project3.jpg" alt="vaksin in" style="width: 540px; height: 307px;">
      </li>

      <li class="project__item">
        <img class="project__img" src="img/project4.jpg" alt="stay cation" style="width: 540px; height: 307px;">
      </li>

    </ul>

  </div>
</section>
