<section class="team">
  <div class="container">

    <h2 class="team__title">
      Meet The Founder
    </h2>
    <div class="team__inner">

      <div class="team__box-left">
        <ul class="team__list">

          <li class="team__item team__item--first">

            <div class="team__content team__content--first">
              <h3 class="team__caption">
                Jhon Doe
              </h3>
              <p class="team__descr">
                A visioner, and tech-product design guy.
              </p>
            </div>

            <img class="team__pic team__pic--first" src="img/team1.jpg" alt="photo"
              style="width: 280px; height: 360px;">

          </li>

          <li class="team__item">

            <div class="team__content team__content--second">
              <h3 class="team__caption">
                Jhon Key
              </h3>
              <p class="team__descr">
                Lead UI/UX Designer, loves design and build website
              </p>
            </div>

            <img class="team__pic team__pic--second" src="img/team3.jpg" alt="photo"
              style="width: 280px; height: 360px;">

          </li>

        </ul>
      </div>

      <div class="team__box-right">
        <ul class="team__list">

          <li class="team__item team__item--third">

            <div class="team__content team__content--third">
              <h3 class="team__caption">
                Doe Jhon
              </h3>
              <p class="team__descr">
                A tech guy, expert in MERN Stack and Server Side
              </p>
            </div>

            <img class="team__pic team__pic--third" src="img/team2.jpg" alt="photo"
              style="width: 280px; height: 360px;">

          </li>

          <li class="team__item team__item--fourth">

            <div class="team__content team__content--fourth">
              <h3 class="team__caption">
                Kekey
              </h3>
              <p class="team__descr">
                Lead Researcher, loves data and human-centered design
              </p>
            </div>

            <img class="team__pic team__pic--fourth" src="img/team4.jpg" alt="photo"
              style="width: 280px; height: 360px;">

          </li>

        </ul>
      </div>

    </div>

  </div>
</section>
